.container
  .row
    .box
      .col-lg-12
        %hr/
        %h2.intro-text.text-center
          About
          %strong Phoenix VR
        %hr/
      .col-md-6
        %img.img-responsive.img-border-left{src: "/assets/oculus.jpg"}/
      .col-md-6
        %p Project Zenith 

        %p Our hypothesis is that an inexpensive pair of VR Gloves (<$150) with accompanying software that enables for gesture recognition and finger tracking would be consumed by the gaming market and will easily expand to defense, medicine, and other forms of home entertainment. In addition, we predict that we will be able to build a working prototype of the glove within 6 months and an alpha build of the glove with the software ready to manufacture and sell in under 12 months.
      .clearfix
  .row
    .box
      .col-lg-12
        %hr/
        %h2.intro-text.text-center
          Our
          %strong Team
        %hr/
      .col-sm-4.text-center
        %img.img-responsive{src: "/assets/john.jpg"}/
        %h3
          John Shaughnessy
          %small CEO / Software Engineer
      .col-sm-4.text-center
        %img.img-responsive{src: "/assets/jacob.png"}/
        %h3
          Jacob Rosenbloom
          %small Software Engineer
      .col-sm-4.text-center
        %img.img-responsive{src: "/assets/varun.png"}/
        %h3
          Varun Kanwar
          %small Mechanical Engineer
      .clearfix
      .col-sm-4.text-center
        %img.img-responsive{src: "/assets/natasha.png"}/
        %h3
          Natasha Kraus
          %small Graphic Designer
      .col-sm-4.text-center
        %img.img-responsive{src: "/assets/george.jpg"}/
        %h3
          George Posner
          %small Market Analyst 
      
      .clearfix
